body {
    font: 16px/28px "Microsoft YaHei";
}

h1 {
    text-align: center;
    font-weight: 400;
}

.gray {
    color: #888;
    font-size: 12px;
    text-align: center;
}

.btn {
    font-weight: 700;
}

.search {
    color: #666;
    width: 170px;
}
.img-content {
    text-align: center;
}

a {
    text-decoration: none;
}


p {
    text-indent: 2em;
}